body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1 0 auto;
  background-color: #1f1f1f;
  color: #fff;
}

tr {
  border-bottom: 1px solid #3e3e3e;
}

code {
  background-color: #3e3e3e;
}

blockquote {
  border-left: 5px solid #262626;
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
  background-color: #3e3e3e;
}

.container {
  margin-left: 300px;
}

.sidenav {
  background-color: #282828 !important;
}

.collapsible-body {
  background-color: #262626 !important;
}

.sidenav li > a {
  color: #fff;
}

.collapsible-header {
  padding: 0 32px !important;
}

.active-page {
  background-color: #525252 !important;
}

.btn {
  background-color: #525252 !important;
}

.page-footer {
  padding-top: 0;
  background-color: #282828;
}

.user-view {
  height: 200px;
}

.sidebar-logo {
  margin: auto;
  max-height: 100%;
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.sidebar-logo-url {
  height: 200px !important;
}

.material-icons {
  color: #fff !important;
  margin: 0 16px 0 0 !important;
}

hr {
  margin: 20px 0px;
}
