<!doctype html>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Rocket League Modding Wiki">
    <meta name="keywords" content="Rocket League,Modding,Wiki">
    <meta name="author" content="Ardivee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>

<body>
    {% include sidebar.html %}
    {% include main.html %}
    {% include footer.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>